html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

.coolnav {
    background-color: transparent;
    position: relative;
    max-width: 900px; 
    margin: 0 auto; 
}

    .coolnav .navbar-brand {
        font-size: 1.5rem;
    }

    .coolnav .navbar-nav .nav-link {
        font-size: 1rem; 
        padding: 0.5rem 1rem; 
    }
.btnLogin {
    background-color: #258cfb;
    border: 1px solid #258cfb;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}
.btnLogin:hover{
    border: 1px solid #258cfb;
    background-color: transparent;

}
.coolbg {
    height: 100vh;
    background-image: url("../tractor.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    top: 0;
    margin: 0px;    
}


